.home {
  position: relative;
  min-height: 170vh;
  @apply h-[70vh] sm:h-[140vh];

  @media (max-height: 400px) {
    min-height: 230vh;
  }

  .hero {
    width: 100%;
  }

  .home__container {
    position: absolute;
    top: 40%;
    transform: translate(0%, -50%);
    width: 100%;
    @apply top-[50%] sm:top-[40%];

    @media (max-height: 500px) {
      top: 60%;
    }
  }

  .home__title {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // margin: 48px 20px 0;
    h1 {
      font-weight: 900;
      margin-top: 6px;
      text-transform: uppercase;
    }
    p {
      margin-top: 6px;
      @apply text-[10px] sm:text-lg;
    }
    .discover {
      font-weight: 900;
      font-size: 25px;
      @apply text-sm md:text-xl;
    }
  }
  .header__btn {
    border-radius: 20px;
    margin-top: 16px;
    background-color: #0cceff;
    width: fit-content;
    font-weight: bold;
    @apply h-[30px] md:h-[60px] px-[15px] md:px-[20px] text-[12px] md:text-xl;
  }
}

.looking__for {
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  h2 {
    font-weight: 900;
    text-align: center;
  }

  .grid__container {
    margin-top: 20px;
    height: 100%;
    @apply container mx-auto;
  }

  .grid__item {
    position: relative;
    height: 100vh;
    @apply h-[250px] sm:h-[400px] md:h-screen;

    img {
      width: 100%;
      height: 100%;
    }
    h3 {
      font-weight: 900;
      text-align: center;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      @apply text-sm md:text-lg lg:text-2xl;
    }
  }

  .see__more {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}

.btn {
  border-radius: 20px;
  color: white;
  background-color: black;
  // height: 60px;
  padding: 0 30px;
  font-size: 20px;
  font-weight: bold;
  @apply h-[40px] sm:h-[60px] text-[14px] sm:text-xl px-6;
  &:hover {
    background-color: black;
  }
}

.know__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  h2 {
    margin-top: 35px;
  }
  button {
    margin-top: 14px;
    width: fit-content;
  }
}

.footer {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0cceff;
  @apply p-[20px] sm:p-[50px];

  .footer_logo {
    @apply w-[130px] sm:w-[260px];
  }
}

.rtl {
  .top__things {
    .top__things__body {
      margin-right: 57.5px;
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .looking__for {
    h2 {
      font-size: 70px;
    }

    .grid__item {
      h3 {
        font-size: 35px;
      }
    }
  }

  .home {
    .header__btn {
      height: 79px;
      font-size: 24px;
    }
  }

  .btn {
    font-size: 30px;
  }

  .footer {
    .footer_logo {
      width: auto;
    }
  }

  .top__things {
    .top__things__title {
      font-size: 80px;
      margin-top: 227px;
    }
  }
}
